h1 {
    text-align: center;
    border: blue dotted;
}

h3 {
    text-align: center;
    border: red solid;
}

#box-model {
    border: green solid 12px;
    background-color: silver;
/*    padding*/
/*    padding: 20px; one number applies all around */
/*    padding: 20px 50px; two numbers = top/bottom and left/right */
/*    padding: 20px 50px 100px 60px; clockwise: top, right, bottom, left*/
    padding: 20px 50px 100px 60px;
/*    margin*/
/*    margin: 50px 80px 100px 30px;*/
    margin-left: 20px;
}

p {
    margin: 12px;
}