
#box-model {
    color: white;
    background-color: black;
    padding: 48px;
    border-top: blue solid 36px;
    border-right: darkgreen solid 36px;
    border-bottom: red solid 36px;
    border-left: darkgoldenrod solid 36px;
    margin: 24px;
}

