/*notes*/
/*external css*/
/*selector by element*/

body {
    background-color: palegreen;
}

h1  {
    text-align: center;
    color: darkorange;
    font-family:'Roboto', sans-serif;
}

/*select by class name*/

.postTitle {
    font-family: Futura;
    color: darkblue;
    text-decoration: underline;
}

li {
    font-family: "Brush Script MT";
    font-size: xxx-large;
    color: indigo;
    text-decoration: underline;
    text-decoration-style: wavy ;
}

/*select by id name*/

#postContentOne {
    font-family: cursive;
    border: darkblue solid;
    background-color: palevioletred;
    color: darkred;
}

#postContentTwo {
    font-family: fantasy;
    text-decoration: line-through;
    border: darkblue solid;
    background-color: cornflowerblue;
    color: darkred;
}