/*notes*/
/*external css*/
/*selector by element*/

h1  {
    text-align: center;
    color: darkorange;
    font-family:'Roboto', sans-serif;
}

/*select by class name*/

.postTitle {
    color: blue;
    text-decoration: underline;
}

/*select by id name*/

#postContentOne {
    font-family: cursive;
    border: green solid;
    background-color: palevioletred;
}

#postContentTwo {
    font-family: fantasy;
    text-decoration: line-through;
    border: red double;
    background-color: cornflowerblue;
    border
}