h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width:1200px;
    /*border-bottom: 2px solid black;*/
    display: grid;
    grid-gap: 1rem;
    /*grid-column-gap: 1rem;*/
}

.row {
    width: 100%;
    text-align: center;
    /*border-top: 2px solid black;*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*after: pseudo-element to ensure rows start new section vertically*/

.column {
    float: left;
    box-sizing:border-box;
    height: 50px;
    border: 2px solid black;
    /*border-left: 2px solid black;*/
    /*border-right: 2px solid black;*/
    /*padding:10px;*/

}

.column.one-half {
    width:50%;
    background-color: red;
}

.column.one-third {
    width:33.33%;
    background-color: blue;
}

.column.one-fourth {
    width: 25%;
    background-color: green;
}

.column.one-eight {
    width: 12.5%;
    background-color: yellow;
}



/*EXAMPLE 2 GRID STYLE*/

/*.card-holder {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    display: grid;*/
/*    grid-gap:1rem;*/
/*}*/

/*.card {*/
/*    background-color: deepskyblue;*/
/*    color: whitesmoke;*/
/*    padding: 1rem;*/
/*    height: 4rem;*/
/*}*/
/*!*Responsive Layout*!*/
/*!*MEDIA QUERIES*!*/

/*@media (min-width: 600px) {*/
/*    .card-holder {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*    }*/
/*}*/

/*@media (min-width: 900px) {*/
/*    .card-holder {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/
/*}*/

