/*.container {*/
/*    margin: 0 auto;*/
/*    width: 80%;*/
/*    max-width:1200px;*/
/*    border: 4px solid green;*/
/*}*/

/*.row {*/
/*    width: 100%;*/
/*    !*border: 2px solid red;*!*/
/*}*/

/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/*!*after: pseudo-element to ensure rows start new section vertically*!*/

/*.column {*/
/*    float: left;*/
/*    !*padding:10px;*!*/

/*}*/

/*.column.one-half {*/
/*    width:50%;*/
/*    background-color: cornflowerblue;*/
/*}*/

/*.column.one-third {*/
/*    width:33.33%;*/
/*    background-color: darkorange;*/
/*}*/

/*EXAMPLE 2 GRID STYLE*/

.card-holder {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap:1rem;
}

.card {
    background-color: deepskyblue;
    color: whitesmoke;
    padding: 1rem;
    height: 4rem;
}
/*Responsive Layout*/
/*MEDIA QUERIES*/

@media (min-width: 600px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-holder {
        grid-template-columns: repeat(3, 1fr);
    }
}

