/*notes*/
/*external css*/
/*selector by element*/

container {

    margin: 0 auto;
    padding: 1000px;
}

body {
    /*background-color: white;*/
    background-color: darkgoldenrod;
}

p {
    font-family: "calibri";
    font-size: 24px;
    float: left;
}

#heading1 {
    font-family: "calibri";
    font-size: 48px;
    text-align: center;
    /*position: relative;*/
    /*left: 162.5px;*/
}

/*#logo {*/
/*    !*display: block;*!*/
/*    !*margin-left: auto;*!*/
/*    !*margin-right: auto;*!*/
/*    !*width: 50%;*!*/
/*}*/

#boundary {
    background-color: #111111;
    /*float: left;*/
}

#heading2 {
    font-family: "Calibri";
    font-size: 36px;
    text-align: center;
    /*position: relative;*/
    /*left: 325px;*/
}

#movies {
    background-color: darkgoldenrod;
    font-family: "Calibri";
    font-size: 48px;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width:1200px;
    /*border-bottom: 2px solid black;*/
    display: grid;
    grid-gap: 1rem;
    /*grid-column-gap: 1rem;*/
}

.row {
    width: 100%;
    text-align: center;
    /*border-top: 2px solid black;*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*after: pseudo-element to ensure rows start new section vertically*/

.column {
    float: left;
    box-sizing:border-box;
    height: 50px;
    border: 2px solid black;
    /*border-left: 2px solid black;*/
    /*border-right: 2px solid black;*/
    /*padding:10px;*/

}

.column.one-half {
    width:50%;
    background-color: black;
}

.column.one-third {
    width:33.33%;
    background-color: saddlebrown;
}

.column.one-fourth {
    width: 25%;
    background-color: palegoldenrod;
}

.column.one-eight {
    width: 12.5%;
    background-color: slategray;
}

#navto007 {
    font-size: 50px;
    position: relative;
    left: 50px;
}



